@import "tailwindcss";

@theme {
  /* Palet Warna & Font yang sudah ada */
  --font-jakarta: var(--font-jakarta), sans-serif;
  --color-background: #fdfbfa;
  --color-foreground: #2c2c2c;
  --color-primary: #f59e0b;
  --color-muted: #a1a1aa;
}

/* Tambahkan ini di akhir file */
@keyframes blink {
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 0.8s step-end infinite;
}
